<footer class="text-black/20 text-[8px] leading-snug p-4 mt-6 max-w-2xl w-full mx-auto">
    <p class="text-center">
      This content uses data from the 
      <a href="https://cs.wiktionary.org/wiki/Wikislovn%C3%ADk:Hlavn%C3%AD_strana" class="underline hover:text-black/30" target="_blank" rel="noopener">Czech Wiktionary</a>, 
      available under the 
      <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.cs" class="underline hover:text-black/30" target="_blank" rel="noopener">Creative Commons Attribution-ShareAlike 4.0 International License</a>. 
      The 
      <a href="https://dumps.wikimedia.org/cswiktionary/20250301/" class="underline hover:text-black/30" target="_blank" rel="noopener">original data</a> 
      has been modified for this site.
    </p>
  </footer>
  