<div class="bg-amber-100 border-4 border-emerald-700 border-dashed rounded-base p-8 max-w-xl w-full text-center">
    <h1 class="text-xl text-center text-emerald-700 mb-4">Curious?</h1>
    <p class="text-xs text-center text-black/90 leading-relaxed break-words">
        This website presents a&nbsp;curated dataset of lexically and linguistically notable Czech words, encompassing categories such as archaisms, slang, regional dialects, and related phenomena. The&nbsp;project was initiated as a&nbsp;result of personal interest in exploration of dictionaries and the&nbsp;acquisition of quirky novel vocabulary.
    </p>
</div>